<%- include("../includes/head.ejs") %>

</head>
<body>
    
    
    
    <div class="main-text grey lighten-4">
        <%- include("../includes/navbar.ejs") %>
        <div class="container">
            <h3>Page not found</h3>
            <img src="/pictures/cutedog.jpg" id="index-image">
        </div>
    </div>

</body>
</html>