<%- include("./includes/head.ejs") %>

</head>
<body>
    
    
    
    <div class="main-text grey lighten-4">
        <%- include("./includes/navbar.ejs") %>
        <div class="container">
            <h3>Welcome! If you want to see the list of our favourite dogs, please login or register</h3>
            <img src="cutedog.jpg" id="index-image">
        </div>
    </div>

</body>
</html>