<%- include("./includes/head.ejs") %>

</head>
<body>
    
    
    
    <div class="main-text grey lighten-4">
        <%- include("./includes/navbar.ejs") %>
        <div class="container">
            <% if( userSession === "noSession" )  { %>
            <h3>Welcome! If you want to see the list of our favourite dogs, please log in or sign up.</h3>
            <% } else { %>
            <h3>Welcome back, <%= userSession %>!</h3>
            <% } %>
            <img src="/pictures/cutedog.jpg" id="index-image">
        </div>
    </div>

</body>
</html>