<nav>
    <div class="nav-wrapper white">
    <a href="/"><img id="logo-image" src="/includes/dogLogo2.png">
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a class="blue-grey-text text-darken-4" href="/login">Login</a></li>
        <li><a class="blue-grey-text text-darken-4" href="/signup">Signup</a></li>
      </ul>
    </div>
  </nav>