html {
  background-color: rgb(246, 246, 246);
}

body {
  padding-top: 4.5em;
}


#logo-image {
  width: 6em;
  height: 4em;
}

#index-image {
  width: 25em;
  height: 35em;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.input-field {
  text-align: center;
}

.main-text {
  font-family: "Raleway", sans-serif;
}

.right.hide-on-med-and-down {
  padding-right: 1em;
}

.form-error-text {
  font-family: "Raleway", sans-serif;
  color: crimson;
  padding-left: 10em;
}

.form-title-text {
  font-family: "Raleway", sans-serif;
  padding-left: 10.7em;
  padding-top: 1em;
}

.dog-card-image {
  height: 15em;
  width: auto; /*maintain aspect ratio*/
  max-width: 25em;
}

.card {
  height: 27em;
}

.navbar-dogs {
  top: 0;
  width: 100%;
  z-index: 2;
  position: fixed;
  height: 4em;
}
